<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="ff-container" data-controller="transition">
  <div class="transition transition-1" data-transition-target="elementLeft"></div>
    <p class="ff-title-new-round ">Waiting room</p>

    <div id="game-board" data-controller=snake>
      <canvas id="canvas" width="320" height="320" data-snake-target="canvas"></canvas>
      <div class="direction-controls">
        <button data-snake-target="up"><i class="fas fa-arrow-up"></i></button>
        <div>
          <button data-snake-target="left"><i class="fas fa-arrow-left"></i></button>
          <button data-snake-target="right"><i class="fas fa-arrow-right"></i></button>
        </div>
        <button data-snake-target="down"><i class="fas fa-arrow-down"></i></button>
      </div>
    </div>

    <div class="loading-information" data-controller="new-round-subscription" data-new-round-subscription-room-id-value="<%= @room.id %>" data-new-round-subscription-target="users">
      <!-- HERE ACTION CABLE IS GOING TO SYNCHRONIZE, WHEN NEW PLAYER IS ENTERING-->
        <%= render "shared/new_round", room_users_count:  @room.users_count %>
    </div>
    <%= simple_form_for :user, url: room_create_round_path do |f| %>
      <%= f.submit "Start second round", class: "ff-btn-form-red" %>
    <% end %>
    <%= render "shared/flashes" %>
</div>